
<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">GTSales Marketplace</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    
</header>
<body>
<br>
<br>
<br>
    <mat-card >
        <h1 id="card"><mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon> Sign in</h1>
    </mat-card>
    <mat-card id="card1">
        <input type="file" class="d-none" (change)="onPhotoSelected($event, $event)" #photoInput>
                <img [src]="photoSelected || 'assets/no-image.png'" class="img-fluid" alt="No image">
        <br>
          <a (click)="photoInput.click()" color="info" id="boton_1" type="submit">Elegir imagen y visualizar</a>
        <br><br>
       <mat-form-field id="espacio" class="example-full-width" appearance="fill">
        <mat-label id="espacio">Nombre</mat-label>
        <input id="espacio"  matInput [(ngModel)]="nombre" name="nombre" placeholder="Ingrese su nombre">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Apellido</mat-label>
        <input   matInput [(ngModel)]="apellido" name="apellido" placeholder="Ingrese su apellido">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>País</mat-label>
            <mat-select [(ngModel)]="selectedviewValue" name="food">
              <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput  [(ngModel)]="fecha" name="fecha" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="fill">
        <mat-label><mat-icon aria-hidden="false" aria-label="Example home icon">alternate_email</mat-icon> Correo electrónico</mat-label>
        <input   matInput [(ngModel)]="correo" name="correo" placeholder="ejemplo@email.com">
        </mat-form-field>
        <mat-form-field  class="example-full-width" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput [(ngModel)]="contra" name="contra" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        </mat-form-field>
        <br>
        <mat-form-field  class="example-full-width" appearance="fill">
        <mat-label>Confirmar contraseña</mat-label>
        <input matInput [(ngModel)]="password" name="password" [type]="hide1 ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        </mat-form-field>
        <br>
        <a (click)="ViewUser()" color="info" id="boton_1" type="submit">LOGIN</a>
        <br>
  </mat-card>


  <div class="container">
    <div class="content">
      <div class="header">
        <h1>File upload</h1>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="input-group">
            <div class="input-group-prepend">
              
            </div>
            <div class="custom-file">
              <form (ngSubmit)="onUpload($event)" >
              <button  class="input-group-text upload" type="submit">
                Subir
              </button>
               <input type="file" class="d-none" (change)="onPhotoSelected($event, $event)" #photoInput>
                <img [src]="photoSelected || 'assets/no-image.png'" class="img-fluid" alt="No image">
     
               <a (click)="photoInput.click()" color="info" id="boton_1" >Elegir imagen y visualizar</a>
       
              </form>
            </div>
          </div>
        </div>
          <div class="col-md-4"></div>
      </div>
    </div>
  </div>





<!--
<br>
<br>
<image-upload (uploadFinished)="onUploadFinish($event)">
</image-upload>

<br />
<br />

<button (click)="sendImage()" class="btn btn-primary btn-lg">Enviar</button>-->
  </body>